<h1>SchoolApplication</h1>
<label>Status: </label>
<p id="status"><%= @school_application.status %></p>
<label>House:</label>
<p><%= @school_application.house.name %></p>
<label>Student Name: </label>
<p><%= @school_application.wizard.full_name %></p>

<div id="message">
</div>